/* Navbar.module.css */

.navbar {
  color: #fff;
  padding: 30px;
  position: relative; /* Make the navbar positioned relative */
  top: 35%; /* Move the navbar 20px down from its normal position */
  left: 0%; /* Move the navbar 20px to the right from its normal position */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}
/* Navbar.module.css */

.header {
 
  color: #fff;
  padding: 10px;
  display: flex; /* Use flexbox to layout items */
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Center items vertically */
}

.logo {
  width: 200px; /* Adjust the width of the logo */
  height: auto; /* Maintain aspect ratio */
  margin-right: 1rem; /* Add some spacing between the logo and text */
}


.storeName {
  margin: 0; /* Remove default margin */
  position: relative;
  top: 20%; /* Move the navbar 20px down from its normal position */
  left: 40%; /* Move the navbar 20px to the right from its normal position */
}



.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
}
@media (min-width: 1200px) {
  /* Your styles for large screens go here */
  body {
    font-size: 18px;
  }
}